// Variables
$body: #fff;
$black: #000;
$white: #fff;
$theme-color: #6c57d2;
$theme-color-2: #ff792e;
$header: #003566;
$text: #656565;
$border: #e6efff;
$ratting: #f8bc26;
$bg: #fff9ed;
$bg-2: #6c57d21a;
$box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);

// Breakpoints
$breakpoint-xxl: 1899px;
$breakpoint-xl: 1600px;
$breakpoint-lg: 1399px;
$breakpoint-md: 1199px;
$breakpoint-sm: 991px;
$breakpoint-xs: 767px;
$breakpoint-xxs: 585px;
$breakpoint-mobile-lg: 575px;
$breakpoint-mobile: 470px;
$breakpoint-mobile-sm: 450px;
$breakpoint-mobile-xs: 414px;
